@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://wallpapercave.com/wp/wp8813200.jpg);
}

.Titulo {
  width: 30%;
  display: flex;
  margin: 0 auto;
}

.Cards {
  display: flex;
  align-items: center;
justify-content: space-;
}

.CardMenu {

  background-color: gray;
  font-family: 'Silkscreen', cursive;
  border: solid 1px black;
  border-radius: 5px;
  width: 35vw;
  height: 70vh;
}

.CardDetails {
  background-color: gray;
  font-family: 'Silkscreen', cursive;
  border: solid 1px black;
  border-radius: 5px;
  width: 35vw;
  height: 70vh;
}

.content-pokemon {
display: flex;
justify-content: center;
}

.pokemon {
  width: 70%;
}






.buttons {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.button-back {
  
background-color: grey;
  font-family: 'Silkscreen', cursive;
  border: solid 1px black;
  border-radius: 5px;
  width: 10vw;
  height: 5vh;

}

.button-next {
  background-color: gray;
  font-family: 'Silkscreen', cursive;
  border: solid 1px black;
  border-radius: 5px;
  width: 10vw;
  height: 5vh;
}